page-library {
  //Test


  //Library
  .searchbar {
    text-align: center;
    background-color: #b73744;
    user-input: #b73744;
  }
  .library-content-background {
    background-color: lightgrey;
    color: black;
  }
  .ion-note {
    color: #000;
  }
  .ion-input {
    color: #000;
  }

  ion-content, .label-md {
    margin: 0;
  }

  $subtitle-background-color: #ffffff;
  .id-button {
    bottom: 0;
    position: absolute;
    background: rgba(222, 60, 80, .8);
    opacity: 0.8;
    width: 7rem;
    height: 2rem;
    text-align: center;
    color: white;
  }
  .list-ios > .item-block:first-child {
    border: none;
  }
  .label-ios {
    margin: 0;
  }
  .grid {
    padding: 0;
  }
  [col-5] {
    padding: 0;
  }
  .button-ios {
    margin: 0;
    border-radius: 0;
  }
  card-ios {
    box-shadow: 0 0 0 0;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
  }

  //region Crop

  // Container

  .resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
  }

  .resize-container img {
    display: block
  }

  .resize-container:hover img,
  .resize-container:active img {
    outline: 2px dashed rgba(222, 60, 80, .9);
  }

  //Resize

  .resize-handle-ne,
  .resize-handle-ne,
  .resize-handle-se,
  .resize-handle-nw,
  .resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222, 60, 80, .9);
    z-index: 999;
  }

  .resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
  }

  .resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
  }

  .resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
  }

  .resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
  }

  //Crop

  .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 999;
    width: 200px;
    height: 200px;
    background-color: rgba(222, 60, 80, .3);
    border: solid 2px rgba(222, 60, 80, .8);
    box-sizing: content-box;
    pointer-events: none;
  }

  img.logo {
    width: 45%;
    display: block;
    margin: 0 auto;
  }

  .btn-crop {
    position: absolute;
    vertical-align: bottom;
    right: 5px;
    bottom: 5px;
    padding: 6px 10px;
    z-index: 999;
    background-color: rgb(222, 60, 80);
    border: none;
    border-radius: 5px;
    color: #FFF;
  }

  .search {
    position: absolute;
    right: 10px;
    bottom: 1px;
  }

 ion-app.md [padding], ion-app.md [padding] .scroll-content {
    padding: 8px;
}

  .sliding {
    margin-bottom: 6px;
  }

  .description {
    white-space: pre-wrap;
  }
}
